step_function_code/movies-data-ingestion.json
{
  "Comment": "A description of my state machine",
  "StartAt": "StartCrawler",
  "States": {
    "StartCrawler": {
      "Type": "Task",
      "Parameters": {
        "Name": "crawl_movies_data_in_s3"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Next": "GetCrawler"
    },
    "GetCrawler": {
      "Type": "Task",
      "Next": "Is_Running?",
      "Parameters": {
        "Name": "crawl_movies_data_in_s3"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler"
    },
    "Is_Running?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Crawler.State",
          "StringMatches": "RUNNING",
          "Next": "Wait"
        }
      ],
      "Default": "Glue StartJobRun"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "GetCrawler"
    },
    "Glue StartJobRun": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "movie_data_analysis"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "Failed_Notification"
        }
      ],
      "Next": "Glue_Job_Status"
    },
    "Glue_Job_Status": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.JobRunState",
          "StringMatches": "SUCCEEDED",
          "Next": "Success_Notification"
        }
      ],
      "Default": "Failed_Notification"
    },
    "Success_Notification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ap-south-1:112207118291:first-sns",
        "Message": "Glue Job Execution Successful !!"
      },
      "End": true
    },
    "Failed_Notification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "arn:aws:sns:ap-south-1:112207118291:first-sns"
      },
      "End": true
    }
  }
}